<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About ODA</title>
    <link rel="stylesheet" href="css/about.css" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <span class="big-circle"></span>
      <img src="img/shape.png" class="square" alt="" />
      <div class="about">
        <div class="info">
          <div class="back"><a href="./">Back</a></div>
          <br />
          <h3 class="title">About Us</h3>
          <p class="text">
            Having problem with booking your perfect hotel or just can't decide
            where to stay? ODA is here for your solution.
            <br />
            <br />
            We know, people out there face this issue to not know enough places,
            booking their ideal rooms or countless of problems. and to resolve
            that issue, ODA is bringing a complete solution of your problems. We
            embrace the drive for travel among us and so ODA is here to make
            your travel easier than you can ever think of.
            <br />
            <br />
            So, why not ODA?
          </p>
        </div>
      </div>
    </div>

    <!-- <script src="app.js"></script> -->
  </body>
</html>
